body {
  background-color: rgb(219, 227, 235);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
 }

 header {
  background-color: rgb(71, 109, 134);
  color: rgb(219, 227, 235);
  padding: 1em;
 }

li{
  display:inline-block;
}
li img{
  vertical-align: middle;
}

a {
  color: rgb(131, 164, 185);
   font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 1em 3em 1em 3em;
  vertical-align: middle;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:2em;
  font-weight:bold;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
  color: rgba(6, 43, 65, 0.27);
  background-color: rgb(131, 164, 185);
  margin: .5em auto .5em auto;
}

table {  
  color:rgb(13, 37, 53);
  font-family: Helvetica, Arial, sans-serif; 
  /* width: 40%;  */
  height: 80%;
  border-collapse: collapse; 
  margin-top: 1% ;
  margin: 0px auto;
  margin-bottom: 3%;
  padding-top: 1.5em;
  -webkit-box-shadow: 5px 5px 17px -8px #000000; 
  box-shadow: 5px 5px 17px -8px #000000;

}

tr, th { 
  border: 1px solid rgb(42, 68, 95); 
  height: 30px; 
}

th {  
  background: rgb(196, 207, 214); 
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
}

td {  
  background: rgb(86, 131, 161); 
  text-align: center;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
}

fieldset {
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
  background: rgb(196, 207, 214);
  padding-inline-start: 40%;-webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  }

footer {
  margin-top: 2%;
  margin-bottom: 2%;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
 }