header {
  background-color: rgb(71, 109, 134);
  color: rgb(219, 227, 235);
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
  text-align: center;
  block-size: 20%;  
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 3%;
}

.links {
  display: inline-block;
}

ul {
  margin: 1%;
}

a {
  background-color: rgb(219, 227, 235);  
  color: rgb(71, 109, 134);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2%;
  margin: .5em 1em;
  }


body {
  background-color: rgb(219, 227, 235);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#table {
  color: rgb(71, 109, 134);  
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
  padding: .5em 1em;
  margin: .5em 1em;
  text-align: center;
}

table {  
  color:rgb(13, 37, 53);
  font-family: Helvetica, Arial, sans-serif; 
  width: 40%; 
  border-collapse: collapse; 
  margin-top: 1% ;
  margin: 0px auto;
  margin-bottom: 1%;
  padding-top: 1.5em;
}

td, th { 
  border: 1px solid rgb(42, 68, 95); 
  height: 30px; 
}

th {  
  background: rgb(196, 207, 214); 
  font-weight: bold;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
}

td {  
  background: rgb(86, 131, 161); 
  text-align: center;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
}

fieldset {
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
  background: rgb(196, 207, 214);
  padding-inline-start: 40%;

}

footer {
  margin-top: 2%;
  margin-bottom: 2%;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 2px 2px rgba(107,169,206,0.27);
 }